nav{
  display:flex;
  justify-content:space-between;
  #toggleBtnContainer{
    display:none;
  }
  ul{
    display: flex;
    justify-content:center;
    li{
      flex: 1 1 0;
    }
    a{
      display:block;
      font-size:1.5rem;
      padding:1rem;
    }
    a.git{
      background-size: 80%;
    }
    a.in{
      background-size: 80%;
    }
  }
  .social{
    margin:0;
  }
}

/*----------- WEBSITE -----------*/
  #hamburgerBtn{
    display:none;
  }
    #flexBox1{
      .websiteContainers{
        figure{
          width:100%;
          img{
            width: 100%;
          }
        }
        flex-basis:450px;
      }
    }

/*----------- END WEBSITE -----------*/
/*----------- WEBSITE TEMPLATE -----------*/
    .templateWrapper{
      padding:4rem 0;
      max-width:80vw;
        margin:0 auto;
        h1{
          padding-bottom:5rem;
        }
        p{
          padding:3rem 0;
          text-align:center;
          line-height:3rem;
        }
    }
    #templateWrapper1{

      figure{
        height:600px;
        width:100%;
        display:flex;
        justify-content: center;
        img{
          width: 80%;
        }
      }
    }
/*----------- END WEBSITE TEMPLATE -----------*/
/*----------- PHOTOGRAPHY  -----------*/
      #flexbox2{
        position: relative;
        .textWrapper{
          height:6rem;
          display: flex;
          align-items: center;
          justify-content: center;
          h2{
             margin: 0
          }
        }
        .albumsWrapper{
          flex-basis:450px;
          height:450px;
          figure{
            width:100%;
            img{
              width: 100%;
            }
          }
        }
    }
/*----------- END PHOTOGRAPHY  -----------*/
/*----------- PHOTOGRAPHY TEMPLATE -----------*/
#flexbox3{
  justify-content: space-around;
  .photoWrap{
    flex-basis:400px;
    figure{
      width:100%;
      img{
        width: 100%;
      }
    }
  }
}
/*----------- END PHOTOGRAPHY TEMPLATE -----------*/
