nav{
  display:flex;
  justify-content:space-between;
  ul{
    display: flex;
    justify-content:center;
    li{
      flex: 1 1 0;
    }
    a{
      display:block;
      font-size:1.5rem;
      padding:1rem;
    }
    a.git{
      background-size: 80%;
    }
    a.in{
      background-size: 80%;
    }
  }
  .social{
    margin:0;
  }
}

/*----------- WEBSITE -----------*/

    #flexBox1{
      .websiteContainers{
        figure{
          width:100%;
          img{
            width: 100%;
          }
        }
        flex-basis:450px;
      }
    }

/*----------- END WEBSITE -----------*/
/*----------- WEBSITE TEMPLATE -----------*/
    #templateWrapper{
      max-width:80vw;
      margin:0 auto;
    }
/*----------- END WEBSITE TEMPLATE -----------*/
