/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS. */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
html, body{height:100%;}
body{
  font:15px/1 sans-serif;
  margin:0;
  background-color:$secondColor;
}
h1{
  font-family:$headerFont;
  font-weight: $boldWeight;
  font-size: 3.5rem;
  color: $firstColor;
  text-align: center;
  padding:1rem;
}
h2{
  font-family:$headerFont;
  font-weight: $boldWeight;
  font-size: 2rem;
  color: $firstColor;
  text-align: center;
  padding:1rem;
}
p{
  line-height: 2rem;
  padding:$gutter;
  font-size: 1.5rem;
  font-family:$textFont;
}

/*----------- NAVIGATION -----------*/
/*----------- menu base styles -----------*/
nav {
  background: $firstColor;

  ul{
    list-style-type:none;
    padding:0;
    a{
      text-decoration:none;
      text-align:center;
      color: $secondColor;
      display:none;
      padding: 10px;
    }
     li:first-child a:hover{
      color:$fourthColor;
    }
    li:nth-child(2) a:hover{
     color:$fifthColor;
   }
   li:nth-child(3) a:hover{
    color:$sixthColor;
  }
    a.git{
      background:url(/images/gitlogo.png) no-repeat center;
      background-size: 60%;
    }
    a.in{
      background:url(/images/inlogo.png) no-repeat center;
      background-size: 60%;
    }
  }

  .social{
    max-width:80px;
    margin:0 auto;
  }
  .social a{
    text-indent:-10000px;
  }
  ul.social{
    flex:1 1 0;
    display:flex;
    li{
      flex:1 1 0;
    }
  }
}

/*----------- END NAVIGATION -----------*/
/*----------- MAIN -----------*/
/*----------- HOME -----------*/
 #introSegment{
  height: 500px;
   background:url(/images/introPic.jpg)no-repeat center;
   h1{
     padding-top: 10rem;
   }
 }
 #bio{
   width: 80vw;
   margin:0 auto;
 }
 .parallax{
   h4{
     padding-top:8rem;
    text-align:center;
     font-size:4rem;
     color: $secondColor;
   }
 }
    #webParallax{
          background:url(/images/PoliceMen.jpg)no-repeat center;
          background-size:cover;
          background-attachment:fixed;
          /* Set a specific height */
          height: 350px;
    }
    #photoParallax{
      background:url(/images/midairkid.jpg)no-repeat center;
      background-size:cover;
      background-attachment:fixed;
      /* Set a specific height */
      height: 350px;
    }
    #flexBox0{
      width:80vw;
      display:flex;
      flex:wrap;
      margin:3rem auto ;
      h3{
        text-align:center;
        font-size: 2rem;
      }
      p{
        text-align:center;
      }
      .homeBoxes{
        flex: 1 1 0;
        padding: 0 2rem;
          &:first-child{
              h3{
                color:$fourthColor;
            }
          }
            &:nth-child(2){
                h3{
                  color:$fifthColor;
              }
            }
            &:nth-child(3){
                h3{
                  color:$sixthColor;
              }
            }
        }
    }
    .homeButtonBox{
      width: 100%;
      height:10rem;
      vertical-align: middle;
      position: relative;
      a{
        background-color: $secondColor;
        color:$firstColor;
        border:2px solid $firstColor;
        padding: 1.5rem;
        border-radius:10px;
        font-size:3rem;
        position:absolute;
        top:30%;
        left: 50%;
        transform: translate(-50%, -50%)
      }
      #btn1:hover{
        color: $fifthColor;
        border:2px solid $fifthColor;
        cursor: pointer;
      }
      #btn2:hover{
        color: $fourthColor;
        border:2px solid $fourthColor;
        cursor: pointer;
      }
    }

/*----------- END HOME -----------*/
/*----------- WEBSITE -----------*/
    #main1{
      h1{
        color:$fifthColor;
      }
    }
    #flexBox1{
      display:flex;
      flex-wrap:wrap;
      justify-content: space-around;
      h4{
        text-align: center;
        padding:2rem;
        font-size:2rem;
      }
      p{
        color:$firstColor;
        padding: 0 3rem;
      }
      .websiteContainers{
        border-radius: 10px;
        position:relative;
        flex-basis:375px;
        figure{
          width:100%;
          img{
            width: 100%;
            padding:1vw;
          }
        }
      }
      #hoverDiv{
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        z-index:1;
        background:rgba(255, 51, 51,0.7);
        display:none;
        border-radius: 10px;
        a{
          text-align:center;
          background:rgba(255, 51, 51,0.5);
          color:$secondColor;
          border:2px solid $secondColor;
          padding: 1rem;
          border-radius:10px;
          font-size:2rem;
          position:absolute;
          top:30%;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor:pointer;
        }
    }
        .websiteContainers:hover #hoverDiv{
        display:block;
      }
      #webBox1{
        background:url(/images/CPpic2.jpg);
        h4{
          color:#D26A4A;
        }
      }
      #webBox2{
        background:url(/images/NSSpic3.jpg) center;
        h4{
          color:#333;
        }
      }
    }

/*----------- END WEBSITE -----------*/
/*----------- END MAIN -----------*/
