@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');
@import url('https://fonts.googleapis.com/css?family=Chonburi');
/*    --    FONT STYLING   --    */
$headerFont: 'Chonburi',serif;
$textFont:'Playfair Display', serif;
$normalWeight:400;
$boldWeight:700;

/*    --    COLOR SCHEME   --    ;*/
$firstColor:#333;
$secondColor:#fff;
$thirdColor:#555;
$fourthColor:#4285f4;
$fifthColor:#ff4d4d;
$sixthColor:#e6e600;

/*    --    CONSTANTS     --    ;*/
$gutter:2%;
$gap:10%;
