@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');
@import url('https://fonts.googleapis.com/css?family=Chonburi');
/*    --    FONT STYLING   --    */
$headerFont: 'Chonburi',serif;
$textFont:'Playfair Display', serif;
$normalWeight:400;
$boldWeight:700;

/*    --    COLOR SCHEME   --    ;*/
$backgroundColor:#FFFFFF;
$royalBlue:#002366;
